.mobile-view-container {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
  background: rgba(34, 34, 34, 0.25);
  box-shadow: 0 8px 32px 0 rgba(22, 26, 71, 0.37);
  backdrop-filter: blur(16px);
  transition: 0.2s;
  z-index: 100;
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.mobile-view-container.hidden {
  transform: translateY(100%);
}
.mobile-view-container .close-mobile-view {
  width: 20px;
  height: 20px;
  position: relative;
  transform: translate(10px, 10px);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-view-container .close-mobile-view::before {
  content: "";
  width: 15px;
  height: 2px;
  border-radius: 50px;
  background-color: #fff;
  position: absolute;
  transform: rotate(45deg);
}
.mobile-view-container .close-mobile-view::after {
  content: "";
  width: 15px;
  right: 0;
  border-radius: 50px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  transform: rotate(-45deg) translate(6px, 6px);
}
.mobile-view-container .mobile-view-song-content {
  overflow: hidden;
  height: calc(100% - 25px);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mobile-view-container .mobile-view-song-content .extra-icons {
  transform: translateY(-20px);
  width: 100%;
  padding: 0 8%;
}
.mobile-view-container .mobile-view-song-content .extra-icons .queue-opener-icon {
  margin-left: auto;
  width: 15px;
  cursor: pointer;
  height: 15px;
}
.mobile-view-container .mobile-view-song-content .mobile-player-wrapper {
  width: 100%;
}
.mobile-view-container .mobile-view-song-content .mobile-player-wrapper .mobile-view-timelapse-player .mobile-view-timelapse {
  width: 100%;
  padding: 0 5%;
  color: #cacaca;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-view-container .mobile-view-song-content .mobile-player-wrapper .mobile-view-timelapse-player .player {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}
.mobile-view-container .mobile-view-song-content .mobile-player-wrapper .mobile-view-timelapse-player .player .buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  max-width: 300px;
  width: 100%;
  height: 100px;
  padding: 0 10px;
}
.mobile-view-container .mobile-view-song-content .mobile-player-wrapper .mobile-view-timelapse-player .player .buttons-wrapper .control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #fff;
}
.mobile-view-container .mobile-view-song-content .mobile-player-wrapper .mobile-view-timelapse-player .player .buttons-wrapper .control-btn.forbidden {
  cursor: not-allowed;
}
.mobile-view-container .mobile-view-song-content .mobile-player-wrapper .mobile-view-timelapse-player .player .buttons-wrapper .secondary-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
}
.mobile-view-container .mobile-view-song-content .mobile-player-wrapper .mobile-view-timelapse-player .player .buttons-wrapper .secondary-btn.forbidden {
  cursor: not-allowed;
}
.mobile-view-container .mobile-view-song-content .mobile-player-wrapper .mobile-view-timelapse-player .player .player-dragger {
  width: 100%;
  height: 10px;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-view-container .mobile-view-song-content .mobile-player-wrapper .mobile-view-timelapse-player .player .player-dragger .timelapse {
  display: none;
}
.mobile-view-container .mobile-view-song-content .mobile-player-wrapper .mobile-view-timelapse-player .player .player-dragger .timeline-wrapper {
  width: 100%;
  height: 5px;
  border-radius: 50px;
  background-color: #545454;
  position: relative;
}
.mobile-view-container .mobile-view-song-content .mobile-player-wrapper .mobile-view-timelapse-player .player .player-dragger .timeline-wrapper.forbidden {
  cursor: not-allowed;
}
.mobile-view-container .mobile-view-song-content .mobile-player-wrapper .mobile-view-timelapse-player .player .player-dragger .timeline-wrapper:hover .current-drag {
  background-color: #34eb6b;
}
.mobile-view-container .mobile-view-song-content .mobile-player-wrapper .mobile-view-timelapse-player .player .player-dragger .timeline-wrapper:hover .current-drag::before {
  visibility: visible;
}
.mobile-view-container .mobile-view-song-content .mobile-player-wrapper .mobile-view-timelapse-player .player .player-dragger .timeline-wrapper .current-drag {
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 50px;
}
.mobile-view-container .mobile-view-song-content .mobile-player-wrapper .mobile-view-timelapse-player .player .player-dragger .timeline-wrapper .current-drag::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -2.2px);
  width: 10px;
  height: 10px;
  background-color: #fff;
  visibility: hidden;
  border-radius: 50%;
}
.mobile-view-container .mobile-view-song-content .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  width: 100%;
  padding-top: 50px;
}
.mobile-view-container .mobile-view-song-content .image-container .image-frame {
  border-radius: 10px;
  width: 70vw;
  max-width: 350px;
  height: 70vw;
  max-height: 350px;
  background: linear-gradient(75deg, #0f0f0f, #271333, #311e3b);
  overflow: hidden;
}
.mobile-view-container .mobile-view-song-content .image-container .image-frame img {
  width: 100%;
  height: 100%;
}
.mobile-view-container .mobile-view-song-content .image-container .image-frame img::-moz-selection {
  background: none;
  color: none;
}
.mobile-view-container .mobile-view-song-content .image-container .image-frame img::selection {
  background: none;
  color: none;
}
.mobile-view-container .mobile-view-song-content .mobile-song-info {
  color: #fff;
  width: 70vw;
  max-width: 350px;
  cursor: default;
}
.mobile-view-container .mobile-view-song-content .mobile-song-info .mobile-song-credits .song_artist {
  color: rgb(170, 170, 170);
}
.mobile-view-container .mobile-view-song-content .mobile-song-info .mobile-song-credits .song_artist:hover {
  text-decoration: underline;
}
.mobile-view-container .mobile-view-song-content .mobile-song-info .mobile-song-credits .board {
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.mobile-view-container .mobile-view-song-content .mobile-song-info .mobile-song-credits .board .song_title {
  display: inline-block;
  color: #fff;
  padding-left: 100%;
  -webkit-animation: move 5s linear infinite;
          animation: move 5s linear infinite;
  color: #fff;
  cursor: default;
  font-size: 1em;
}
.mobile-view-container .mobile-view-song-content .mobile-view-main {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=mobile-style.css.map */